<!-- Link -->
<link rel="stylesheet" href="../_assets/css/footer.css" />
<link rel="stylesheet" href="../_assets/css/settings.css" />

<!-- Content -->
<div class="pie-box"> 
  
  <div class="pie">
    <div class="title"></div>
    <div class="social">
      <a class="link" id="spotify" target="_blank" href="https://open.spotify.com/user/gwj8p6tbu72tef8r6yz0ono4m?si=a918768a5be3443f"></a>
      <a class="link" id="pinterest" target="_blank" href="https://www.pinterest.it/alfredogiannetto"></a>
    </div>
  </div>
</div>

<div class="contact">
  <div class="scrolling-text">
    <span>Contact Me - pardon@alfredogiannetto.com ⁕ Contact Me - alfredogiannetto5@gmail.com ⁕ Contact Me - alfredogiannetto5@gmail.com ⁕ Contact Me - alfredogiannetto5@gmail.com</span>
  </div>
</div>

<div class="copyright">
  <p>© 2025. Tutti i diritti riservati.</p>
  <p>Terms & Cookie</p>
</div>


