<!-- Link -->
<link rel="stylesheet" href="../_assets/css/footer.css" />
<link rel="stylesheet" href="../_assets/css/settings.css" />

<!-- Content -->
<div class="pie-box"> 
  
    <div class="pie">
      <div class="title"></div>
    </div>



  <div class="copyright">
    <p>© 2025. Tutti i diritti riservati. <br>Termini e condizioni. Cookie.</p>
    <div class="social2">
    <a target="_blank" href="https://open.spotify.com/user/gwj8p6tbu72tef8r6yz0ono4m?si=a918768a5be3443f">Spotify</a>
    <p>|</p>
    <a target="_blank" href="https://www.pinterest.it/alfredogiannetto">Pinterest</a>
  </div>
  </div>
</div>


