.contact {
  margin: auto;
  width: calc(100vw - 50px);
  border-bottom: solid 1px var(--green);
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 40px;
  position: relative;
  word-spacing: 10px;
}
.scrolling-text{
  margin: auto;
  overflow: hidden;
}
/* .contact::before{
  content: '';
  height: 100%;
  left: -90px;
  width: 200px;
  position: absolute;
  background: linear-gradient(to right, rgba(123, 175, 214, 1), rgba(123, 175, 214, 1),rgba(123, 175, 214, 0));
  margin: auto;
  overflow: hidden;
}
.contact::after{
  content: '';
  height: 100%;
  right: -90px;
  width: 200px;
  position: absolute;
  background: linear-gradient(to right, rgba(123, 175, 214, 0), rgba(123, 175, 214, 1),rgba(123, 175, 214, 1));
  margin: auto;
  overflow: hidden;
} */

.pie-box{
  padding-top: 100px;
  margin: 300px auto auto auto;
  width: calc(100vw - 50px);
  background-color: var(--panna);
}
.pie {
  margin: auto;
  width: calc(100vw - 120px);
  height: 300px;
  display: flex;
 /*  background-color: var(--light-green); */
 border-bottom: solid 1px var(--green);
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-bottom: 35px;
  gap: 50px;
}
@media screen and (max-width: 500px) {
  .pie {
    width: calc(100vw - 120px);
  }
}
.pie .title {
  background-image: url(../svg/logo2.svg);
  background-size: cover;
  height: 100%;
  width: 300px;
  font-family: "Piazzolla";
  font-size: 22px;
  text-align: center;
}
.pie .social {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 25px;
  height: 100%;
  width: 300px;
  font-size: 30px;
}
.pie .social a {
  text-decoration: none;
  color: white;
}
.copyright {
  width: calc(100vw - 120px);
  font-size: 14px;
  height: 80px;
  padding: 0 5px 0 5px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  color: var(--green);
}
.link {
  height: 20px;
  width: 20px;
}

.social2{
  display: flex;
  flex-direction: row;
  gap: 7px;
  text-decoration: none;
}
.social2 a{
  display: flex;
  flex-direction: row;
  gap: 7px;
  text-decoration: none;
  color: var(--green);
}
#spotify{
  background-image: url(../svg/spotify.svg);
  background-size: cover;
  letter-spacing: 2px;
}
#pinterest{
  background-image: url(../svg/pinterest.svg);
  background-size: cover;
  letter-spacing: 2px;
}